'name': 'Piku'
'scopeName': 'source.piku'
'fileTypes': [
  'txt',
  'piku'
]
'patterns': [
  {
    'match': '(^[▼▶].*)'
    'name': 'markup.heading.h2.piku'
  }
  {
    'match': '([＜\\[].*?[\\]＞])'
    'name': 'markup.heading.h3.piku'
  }
  {
    'match': '(^・.*)'
    'name': 'markup.heading.h4.piku'
  }
  {
    'match': '(^[^\\s]*?[:：])'
    'name': 'markup.heading.list.piku'
  }
  {
    'match': '([０-９0-9]+[\.．][^ 　]*)'
    'name': 'markup.list.numbered.piku'
  }
  {
    'match': '([（\(].*?[\)）])'
    'name': 'markup.comment.block.piku'
  }
  {
    'match': '(^[※\*].*)'
    'name': 'comment.note.piku'
  }
  {
    'match': '(^#.*)'
    'name': 'comment.line.piku'
  }
  {
    'match': '([^\\s:：]*?:\/\/[^\\s]*)'
    'name': 'entity.uri.piku'
  }
  {
    'match': '([^\\s:：]*?@[^\\s]*)'
    'name': 'entity.email.piku'
  }
]
