'name': 'Piku'
'scopeName': 'source.piku'
'fileTypes': [
  'txt',
  'piku'
]
'patterns': [
  #URI
  {
    'match': '([^\\s:：]*?:\/\/[^\\s]*)'
    'name': 'entity.uri.piku'
  }
  #Email
  {
    'match': '([^\\s:：]*?@[^\\s]*)'
    'name': 'entity.email.piku'
  }
  #アスタリスク
  # {
  #   'match': '(^[※\*].*)'
  #   'name': 'comment.note.piku'
  # }
  #アスタリスク
  {
    'match': '([^\\s]*?[※\*][^\\s]*)'
    'name': 'comment.note.piku'
  }
  #シャープ
  {
    'match': '(^#.*)'
    'name': 'comment.line.piku'
  }
  #サブカッコ
  {
    'match': '([（\(].*?[\)）])'
    'name': 'markup.comment.block.piku'
  }
  #三角
  #{
  #  'match': '(^[▼▶].*)'
  #  'name': 'markup.heading.title1.piku'
  #}
  #三角
  {
    'match': '([^\\s]*?[▼\❤︎][^\\s]*)'
    'name': 'markup.heading.title1.piku'
  }
  #タイトルカッコ１
  {
    'match': '([＜\\[].*?[\\]＞])'
    'name': 'markup.heading.title2.piku'
  }
  #タイトルカッコ２
  {
    'match': '([【].*?[\】])'
    'name': 'markup.heading.title3.piku'
  }
  #タイトルポイント
  {
    'match': '(^●.*)'
    'name': 'markup.heading.title4.piku'
  }
  #リスト用数字
  {
    'match': '([０-９0-9]+[\.．][^ 　]*)'
    'name': 'markup.list.numbered.piku'
  }
  #時間用数字
  {
    'match': '([0-9]+[\:][^ 　]*)'
    'name': 'entity.time.piku'
  }
  #日付用数字
  {
    'match': '([0-9]+[\/][^ 　]*)'
    'name': 'entity.date.piku'
  }
  #コロン
  #{
  #  'match': '(^[^\\s]*?[:：])'
  #  'name': 'markup.heading.list.piku'
  #}
  #コロン
  #{
  #  'match': '([^\\s]*?[^\\s]*?[:：])'
  #  'name': 'markup.heading.list.piku'
  #}
  #半角コロン
  {
    'match': '([^\\s]*?[^\\s]*?[：])'
    'name': 'markup.heading.list.piku'
  }
  #星目印
  {
    'match': '([^\\s]*?[★])'
    'name': 'markup.star.piku'
  }
  #矢印
  {
    'match': '([^\\s]*?[→])'
    'name': 'markup.arrow.piku'
  }
]
